<div class="card text-center">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="true" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Product List</a>
        </li>
      </ul>
    </div>
  <div class="card-body">
    <a  routerLink="/home" ><img src="/assets/images/logo.jpg" alt="Product Management"></a>

    <router-outlet></router-outlet>

  </div>
</div>
</div>
